// .d-block{
    
//     h4{
//         display: block;
//         display: -webkit-box;
//         max-width: 100%;
//         height: 35px;
//         margin: 0 auto;
//         font-size: 20px;
//         line-height: 1.4;
//         -webkit-line-clamp: 2;
//         -webkit-box-orient: vertical;
//         text-overflow: ellipsis;
//         margin-top: 15px;
//     }
// }
// .percent-pr {
//     position: absolute;
//     top: 10px;
//     left: 10px;
//     background-color: red;
//     color: white;
//     padding: 5px 10px;
//     border-radius: 5px;
//     font-size: 14px;
//     font-weight: bold;
//     z-index: 10;
// }
.d-block {

    h4 {
        display: block;
        max-width: 100%;
        height: 35px;
        margin: 0 auto;
        font-size: 20px;
        line-height: 1.4;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-top: 15px;
    }
}

.percent-pr {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    z-index: 10;
}